<div class="container">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <p>
    <strong>Description:</strong>
    <%= @item.description %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= @item.done %>
  </p>

  <%= link_to 'Edit', edit_item_path(@item), :class=>("btn btn-primary text-white") %> |
  <%= link_to 'Back', items_path, :class=>("btn btn-secondary text-white") %>

</div>